#ignore dir  .venv
.venv/
#ignore file test.py (only test new package)
test.py
#ignore file choose_game.py
brain_games/scripts/choose_games.py
# ignore dist
#dist/
#ignore dir pycache
brain_games/__pycache__
brain_games/games/__pycache__
brain_games/scripts/__pycache__
#ignore .DS_Store
.DS_Store
brain_games/games/.DS_Store
brain_games/.DS_Store
#ignore .idea
.idea
